<wrapper>
<header><img src="{{root}}/assets/img/burger.png" width="150px" height="160px">
<h1>BURGERS!</h1>
</header>

<div id="toEat">
<h2>BURGERS TO EAT!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div id="Eaten">
<h2>EATEN BURGERS!</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>
</div>

<div id="addBurger">
<h2>ADD A BURGER</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="burger_name">
  </div>

  <div class="form-group">
    <label for="dev"><h3>Devoured?</h3></label>
    <div><input type="radio" name="devoured" value="1" style="float: left" checked><p class="option pH" >All Gone!</p></div><br>
    <div><input type="radio" name="devoured" value="0" style="float: left"><p class="option pH">Not Yet!</p></div>
  </div>

<button type="submit">Add Burger</button>
</form>
</div>
</wrapper>