<wrapper>
<header><img src="{{root}}/assets/img/burger.png" width="150px" height="180px">
<h1>Burgers!</h1>
</header>

<div id="toEat">
<h2>Burgers to Eat!</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devour=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div id="Eaten">
<h2>Eaten Burgers!</h2>
<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devour=false}}
    {{/if}}
  {{/each}}
</ul>
</div>

<div id="addBurger">
<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bu">Burger Name:</label>
    <input type="text" id="bu" name="burger_name">
  </div>

  <div class="form-group">
    <label for="dev">Devoured?</label><br>
    <input type="radio" name="devoured" value="1" checked> All Gone!<br>
    <input type="radio" name="devoured" value="0"> Not Yet!
  </div>

  <a href="http://localhost:3000/burgers"><button type="submit">Add Burger</button></a>
</form>
</div>
</wrapper>